{% extends "base.html" %}
    
{% block head %}
{% endblock %}

{% block body %}
<div class="container-fluid h-100">
    <h1 class="modal-title text-center p-4 badge-info">Admin control panel</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card h-100 d-flex">
                <div class="card-header text-center">
                    <h3>Dashboard</h3>
                </div>
                <div class="card-body align-items-center d-flex flex-column justify-content-center">
                    <h4>Welcome, {{ session['username'] }}</h4>
                    <p>You are logged in!</p>
                    <span>
                        <p>
                            Here you can add / remove users from the site, <br>
                            you can also see the remaining supplies available.
                        </p>
                    </span>
                    <div class="text-center justify-content-center">
                        <a href="{{ url_for('index') }}" class="btn btn-danger">Logout</a>
                    </div>
                    <div class="text-center justify-content-center p-4">
                        <h4>Remaining supplies</h4>
                        <a href="{{ url_for('storage') }}" class="btn btn-primary">Storage</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header text-center">
                    <h3>Add user</h3>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('admin') }}/add" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Username:">
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select name="role" id="role" class="form-control">
                                <option value="admin">Admin</option>
                                <option value="cashier">Cashier</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password:">
                        </div>
                        <div class="form-group">
                            <label for="password_check">Password Again</label>
                            <input type="password" name="password_check" id="password_check" class="form-control" placeholder="Password:">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header text-center">
                    <h3>Administrators</h3>
                </div>
                <div class="card-body">
                    <div class="content">
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for admin in args[0] %}
                                <tr>
                                    <td>{{admin[1]}}</td>
                                    <td>
                                        <a href="{{ url_for('admin') }}/remove/{{ admin[0] }}">
                                            <button class="btn btn-danger" type="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header text-center">
                    <h3>Cashiers</h3>
                </div>
                <div class="card-body">
                    <div class="content">
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cashier in args[1] %}
                                <tr>
                                    <td>{{cashier[1]}}</td>
                                    <td>
                                        <a href="{{ url_for('admin') }}/remove/{{ cashier[0] }}">
                                            <button class="btn btn-danger" type="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}